.pokemon-card {
    width: 100%;
}

.pokemon-abilities h5::first-letter {
    text-transform: uppercase;
}

.pokemon-upper::first-letter {
    text-transform: uppercase;
}

.poke-types {
    position: absolute;
}

.poke-info {
    width: auto;
}
